
h1 {
    color: blue;
    font-size: 80px;
    
}

h2 {
    color: #00ff2a;
     font-size: 50px;
}

footer {
    margin-top: 60px;
}

.validation-message {
    font-style: normal;
    font-size: 10px;
    color: #FF1C19;
}

a {
    transition: all .2s;
     
}

a:hover, a:focus, a:active {
    color: rgb(94, 3, 94);
    text-decoration: none;
}

.pagination {
    display: block;
    text-align: center;
}

.tamim{
    background-image: url("../blog/images/tanvir1.jpg");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 1700px 1000px;
}
.panel{
    background-color: goldenrod;
}
.jumbotron{
    background-color: royalblue;
}
text-center w-responsive mx-auto mb-5{
    font-size: 30px;
}
.safe{
    text-decoration-color: green;
}
 