{% extends "blog/base.html" %}
{% block content %}
<div >

    <h1 class="about" >About Sayfe-Sying</h1>
    
    <div><h2 class about_safe>  Safe Saying is application which is identify spam comment on our site and delete
        those. The purpose of this project is to find out the comments of those spam users.
        In this work, different techniques used for classification of spam comments with
        those of normal user comments to improve the classification.  </h2></div>
    
    
</div>

<div>





    

</div>
{% endblock content %}